
@{
    ViewBag.Title = "Data Management";
}

<h2>Data Management Page</h2>

<div>
    <p>
        <a class="btn btn-primary btn-sm" href="/data/ResetData">Reset Data &raquo;</a><br />
    </p>

    <p>
        <a class="btn btn-primary btn-sm" href="/data/LoadData">Load Data &raquo;</a><br />
    </p>

    <p>
        <a class="btn btn-primary btn-sm" href="/data/RemoveData">Remove Data &raquo;</a><br />
    </p>

    <p>
        <a class="btn btn-primary btn-sm" href="/data/RemoveDataBase">Remove DataBase &raquo;</a><br />
    </p>

</div>