@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">Different users will have different privileages</p>
    <p class="lead">Once a user logs in, he or she will see a navigation menu on the top of the screen</p>
<p><a href="Account/login" class="btn btn-primary btn-lg">login &raquo;</a></p>
</div>
