<section class="tab" ng-controller="TabController as tab">
	<ul class="nav nav-pills">
	<!-- Description Tab's Content -->
  	<li ng-class="{ active: tab.isSet(1) }">
  		<a href ng-click="tab.setTab(1)">Description</a></li>
  		<!-- Detail Tab's Content -->
  	<li ng-class="{ active: tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Details</a></li>
  	<!-- Review Tab's Content -->
		<li ng-class="{ active: tab.isSet(3) }">
    	<a href ng-click="tab.setTab(3)">Reviews</a></li>
  </ul>

	<div ng-show="tab.isSet(1)">
		<h4>Description</h4>
		<blockquote>{{product.description}}</blockquote>
	</div>
  <div ng-show="tab.isSet(2)">
		<h4>Details</h4>
		<p ng-repeat="detail in product.details">{{detail}}</p>
	</div>
	<div ng-show="tab.isSet(3)">
		<h4>Reviews</h4>
		<blockquote ng-repeat="review in product.reviews">
  		<b>Stars: {{review.stars}}</b>
  		{{review.body}}
  		<cite>by: {{review.author}}</cite>
     </blockquote>
     
			<!--Review Form-->
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
 					ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
  			<blockquote>
   			<b>Stars: {{reviewCtrl.review.stars}}</b>
   			{{reviewCtrl.review.body}}
   			<cite>by: {{reviewCtrl.review.author}}</cite>
   		</blockquote>
				<select ng-model="reviewCtrl.review.stars" required>
				<option value="1">1 star </option>
				<option value="2">2 stars</option>
				<option value="3">3 stars</option>
 				<option value="4">4 stars</option>
   			<option value="5">5 stars</option>
   		</select>
			<textarea ng-model="reviewCtrl.review.body" required></textarea>
			<label>by: </label>
       <input ng-model="reviewCtrl.review.author" type="email" required/>
       <input type="submit" value="Submit" />
     </form>
 	</div>
</section>